<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>equipo</th>
        <th>serie</th>
        <th>marca</th>
        <th>usuario</th>
        <th>fecha de compra</th>
        <th>precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of counter">
        <td>{{items.id}}</td>
        <td>{{items.equipment}}</td>
        <td>{{items.serie}}</td>
        <td>{{items.mark}}</td>
        <td>{{items.users}}</td>
        <td>{{items.buyDate}}</td>
        <td>{{items.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
