
<div class="row">

  <div class="col-2">

  <a class="btn btn-danger mt-3" href="" routerLink= "./counter/counter-list">listar</a>
  <a class="btn btn-primary mt-3" href="" routerLink= "./counter/counter-create">crear</a>
  <a class="btn btn-success mt-3" href="" routerLink= "./counter/counter-update">actualizar</a>
  <a class="btn btn-warning mt-3" href="" routerLink= "./counter/counter-view">leer</a>

  </div>
  <div class="col-10">
    <router-outlet></router-outlet>

  </div>
</div>




